.axis > .axis-tick-mark,
.axis > .axis-minor-tick-mark {
    -fx-stroke: -color-base-4;
}

.axis {
    -fx-tick-label-fill: -color-fg-muted;
}

.horizontal-grid-lines {
    -fx-stroke: ladder(-color-bg-default, -color-base-8 49%, -color-border-muted 50%);
}

.vertical-grid-lines {
    -fx-stroke: ladder(-color-bg-default, -color-base-8 49%, -color-border-muted 50%);
}

.horizontal-zero-line {
    -fx-stroke: ladder(-color-bg-default, -color-base-5 49%, -color-fg-subtle 50%);
}

.vertical-zero-line {
    -fx-stroke: ladder(-color-bg-default, -color-base-5 49%, -color-fg-subtle 50%);
}

.horizontal-highlighted-grid-lines {
    -fx-stroke: -color-base-6;
}

.vertical-highlighted-grid-lines {
    -fx-stroke: -color-base-6;
}

.tooltip {
}

.tooltip-cross {
    -fx-stroke: -color-accent-4;
    -fx-stroke-dash-array: 7;
    -fx-stroke-width: 1;
}