.drag-divider {
    -fx-background-color: -color-border-subtle;
}

.drag-divider:pressed {
    -fx-background-color: -color-accent-muted !important;
}


.drag-divider:hover {
    -fx-background-color: -color-border-default;
}

.drag-divider-cue {
    -fx-background-color: -color-accent-emphasis;
    -fx-background-radius: 2;
    -fx-background-insets: 1;
}

.drag-cue {
    -fx-border-color: -color-accent-emphasis;
    -fx-border-width: 10;
    -fx-border-insets: 15;
    -fx-border-radius: 10;
    -fx-border-style: solid;
}

.drag-layout {
}

.drag-line {
    -fx-stroke-width: 3px;
}

.drag-line-secondary {
    -fx-stroke-dash-array: 7 7;
}

.drag-line-even {
    -fx-stroke: -color-chart-4;
}

.drag-line-aspect {
    -fx-stroke: -color-chart-5;
}