.extended-waveform-visualizer, .waveform-visualizer {
    -fx-color: ladder(-color-bg-default, -color-accent-3 49%, -color-accent-6 50%);
    -a: derive(-color-accent-3, -13%);
    -b: derive(-color-accent-6, 13%);
    -fx-rms-color: ladder(-color-bg-default, -a 49%, -b 50%);
}